.gallery__item-banner {
    width: 395px;
    transition: transform .25s ease-in;
    border-radius: 5px;

    box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;

    @media (min-width: 768px) {
        width: 704px;
    }

    @media (min-width: 1280px) {
        width: 394px;


        border-radius: 5px;
        transition: transform 0.25s ease-in 0s;
        // box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
}

.gallery__item-banner::before,
.gallery__item-banner::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: -1;
    margin: -1%;

}



.gallery__item-banner:hover::after,
.gallery__item-banner:hover::before {
    box-shadow: inset 0 0 0 6px rgb(185, 47, 44);
    animation: anim-ramka-3 8s linear infinite;
}

.gallery__item-banner:hover::before {
    animation-delay: -4s;
}


.gallery__item-img-banner {
    width: 100%;
    height: 420px;
    border-radius: 5px;
    transition: filter .25s ease-in;
    display: block;
    background-image: url(../images/banner/mobile1x.webp);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/banner/mobile2x.webp);
    }

    @media (min-width: 768px) {
        width: 704px;
        background-image: url(../images/banner/tablet1x.webp);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/banner/tablet2x.webp);
        }

    }

    @media (min-width: 1280px) {
        width: 394px;
        height: 591px;
        background-image: url(../images/banner/desctopbaner1x.webp);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/banner/desctopbaner2x.webp);
        }

    }
}

.gallery__item-descr-banner {
    margin-top: 12px;
    font-size: 10px;
    font-weight: 500;
}

.gallery__item-name-banner {
    text-transform: uppercase;
    color: #000;
    line-height: 14px;
    display: block;
    padding-left: 10px;


    @media (min-width: 1280px) {
        font-size: 20px;
        line-height: 24px;
        display: block;
        font-weight: 500;
    }
}

.gallery__item-genres-banner {
    color: #b92f2c;
    line-height: 16px;
    display: block;
    padding-left: 10px;
    padding-bottom: 5px;

    @media (min-width: 1280px) {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
    }
}