// mixin для адаптивної верстки (adaptive)
@mixin mq($type) {
    $mobile: 320px;
    $tablet: 768px;
    $desktop: 1280px;

    @if $type =='mob' {
        @media screen and (min-width: $mobile) {
            @content;
        }
    }

    @if $type =='mob-only' {
        @media screen and (max-width: ($tablet - 0.02)) {
            @content;
        }
    }

    @if $type =='tab' {
        @media screen and (min-width: $tablet) {
            @content;
        }
    }

    @if $type =='tab-only' {
        @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02)) {
            @content;
        }
    }

    @if $type =='desk' {
        @media screen and (min-width: $desktop) {
            @content;
        }
    }

    @if $type =='not-desk' {
        @media screen and (max-width: ($desktop - 0.02)) {
            @content;
        }
    }

    @if $type =='mob-befor' {
        @media screen and (max-width: ($mobile - 0.02)) {
            @content;
        }
    }

    @if $type =='mob-tab' {
        @media screen and (min-width: $mobile) and (max-width: ($desktop - 0.02)) {
            @content;
        }
    }
}

 @mixin flexcenter($d: flex, $ai: center, $jc: center) {
     display: $d;
     align-items: $ai;
     justify-content: $jc;
 }
// приклад використання

// width: 100%;

// @include mq(mob) {
//     width: 450px;
// }

// @include mq(desk) {
//     width: 358px;
// }

// @include mq(not-desk) {
//     margin-bottom: 20px;
// }