<footer class="footer">
  <div class="footer__container container">
    <div class="footer__copyright">
      <p class="footer__text">© 2023 | All Rights Reserved |</p>
      <p class="footer__text">
        &nbsp;<span class="footer__developed">Developed</span>
        <i class="fa-solid fa-heart">
          <svg class="footer__icon" width="14" height="13">
            <use href="./images/sprite.svg#heart-solid"></use>
          </svg>
        </i>
        <span class="footer__text--by">by</span>
        <a
          class="footer__link"
          href="https://goit.ua/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="footer__text--go">&nbsp;Go</span
          ><span class="footer__text--it">IT</span></a
        >
        <a class="footer__link footer__link--name js-modal-open" href="#"
          >&nbsp;Code Wizards</a
        >
      </p>
    </div>
  </div>
</footer>
