<section class="gallery section">
  <div class="container">
    <ul class="gallery__list">
      <li class="gallery__item">
        <img src="./images/grayhound.jpg" alt="" class="galler__item-img">
        <p class="gallery__item-descr">
          <span class="gallery__item-name">
            Greyhound
          </span>
          <span class="gallery__item-genres">
            Drama, Action | 2020
          </span>
        </p>
      </li>
      <li class="gallery__item">
        <img src="./images/grayhound.jpg" alt="" class="galler__item-img">
        <p class="gallery__item-descr">
          <span class="gallery__item-name">
            Greyhound
          </span>
          <span class="gallery__item-genres">
            Drama, Action | 2020
          </span>
        </p>
      </li>
      <li class="gallery__item">
        <img src="./images/grayhound.jpg" alt="" class="galler__item-img">
        <p class="gallery__item-descr">
          <span class="gallery__item-name">
            Greyhound
          </span>
          <span class="gallery__item-genres">
            Drama, Action | 2020
          </span>
        </p>
      </li>
      <li class="gallery__item">
        <img src="./images/grayhound.jpg" alt="" class="galler__item-img">
        <p class="gallery__item-descr">
          <span class="gallery__item-name">
            Greyhound
          </span>
          <span class="gallery__item-genres">
            Drama, Action | 2020
          </span>
        </p>
      </li>
      <li class="gallery__item">
        <img src="./images/grayhound.jpg" alt="" class="galler__item-img">
        <p class="gallery__item-descr">
          <span class="gallery__item-name">
            Greyhound
          </span>
          <span class="gallery__item-genres">
            Drama, Action | 2020
          </span>
        </p>
      </li>
      <li class="gallery__item">
        <img src="./images/grayhound.jpg" alt="" class="galler__item-img">
        <p class="gallery__item-descr">
          <span class="gallery__item-name">
            Greyhound
          </span>
          <span class="gallery__item-genres">
            Drama, Action | 2020
          </span>
        </p>
      </li>
    </ul>
  </div>
</section>