<!-- <div class="header__container" data-slider="team-slider">
    <div class="swiper background__slider">
      <ul class="swiper-wrapper list">
        <li class="swiper-slide background__item">
          <img
            class="background__picture"
            srcset="
              ./images/mobile-orange-popcorn@1x.jpg 1x,
              ./images/mobile-orange-popcorn@2x.jpg 2x
            "
            src="./images/mobile-orange-popcorn@1x.jpg"
            alt="yellow-popcorn"
          />
        </li>
        <li class="swiper-slide background__item">
          <img
            class="background__picture"
            srcset="
              ./images/mobile-orange-popcorn@1x.jpg 1x,
              ./images/mobile-orange-popcorn@2x.jpg 2x
            "
            src="./images/mobile-orange-popcorn@1x.jpg"
            alt="orange-popcorn"
          />
        </li>
        <li class="swiper-slide background__item">
          <img
            class="background__picture"
            srcset="
              ./images/mobile-red-popcorn@1x.jpg 1x,
              ./images/mobile-red-popcorn@2x.jpg 2x
            "
            src="./images/mobile-red-popcorn@1x.jpg"
            alt="red-popcorn"
          />
        </li>
      </ul>
    </div>
    </div> -->

<header class="section-header">
  <div class="container">
    <div class="header">
      <!-- Первый слайд -->
      <div class="header-wrap">
        <nav class="header-nav header-nav-library">
          <a
            href="./index.html"
            class="link--btn home-active-library btn"
            id="home-button"
            >Home</a
          >
          <a href="#" class="link--btn btn--current btn" id="library-button"
            >My Library</a
          >
        </nav>
        <div class="form-wrap library-current">
          <form class="header__form js-search-form" id="header__form">
            <input
              type="text"
              placeholder="Movie search"
              class="header__input"
              name="query"
            />
            <button
              type="submit"
              class="header__submit-button js-search-button"
              aria-label="search"
            >
              <svg class="header__icon" width="14" height="14">
                <use a href="./images/symbol-defs.svg#icon-search"></use>
              </svg>
            </button>
          </form>
          <a href="./index.html" class="logo-link logo-link-library link">
            <svg class="logo__icon" width="32" height="32">
              <use href="./images/symbol-defs.svg#icon-film"></use>
            </svg>
            <span class="logo__title">Filmoteka</span>
          </a>
          <div class="library-btn-box library-btn-hidden">
            <button
              class="library--btn library-current-btn btn js-library-btn"
              type="button"
            >
              watched
            </button>
            <button class="library--btn btn js-library-btn" type="button">
              queue
            </button>
          </div>
        </div>

        <!-- <svg class="header__icon" width="14" height="14">
          <use a href="./images/symbol-defs.svg#icon-search"></use>
        </svg> -->

        <!-- <a href="./index.html" class="logo-link link">
          <svg class="logo__icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-film"></use>
          </svg>
          <span class="logo__title">Filmoteka</span>
        </a> -->
      </div>
    </div>
  </div>
</header>
