<!-- // хедер зі свайпером -->

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<header class="section-header">
  <div class="container header-container" data-slider="team-slider">
    <div style="position: relative">
      <div class="swiper background__slider">
        <ul class="swiper-wrapper list">
          <li class="swiper-slide background__item">
            <img class="background__picture swiper__img1" />
          </li>

          <li class="swiper-slide background__item swip__img">
            <img class="background__picture swiper__img2" />
          </li>

          <li class="swiper-slide background__item swip__img">
            <img class="background__picture swiper__img3" />
          </li>
        </ul>
      </div>

      <div
        class="header"
        style="position: absolute; width: 100%; z-index: 1; top: 0"
      >
        <div class="header-wrap">
          <div class="header-desk header-desk-library">
            <nav class="header-nav header-nav-library">
              <a
                href="./index.html"
                class="btn--link btn--current btn"
                id="home-button"
                data-status_library="home"
                >Home</a
              >

              <a
                href="#"
                class="btn--link btn"
                id="library-button"
                data-status_library="library"
                >My Library</a
              >
            </nav>

            <div class="form-wrap">
              <form class="header__form js-search-form" id="header__form">
                <input
                  type="text"
                  placeholder="Movie search"
                  class="header__input"
                  name="query"
                />

                <button
                  type="submit"
                  class="header__submit-button js-search-button"
                  aria-label="search"
                >
                  <svg class="header__icon" width="14" height="14">
                    <use href="./images/symbol-defs.svg#icon-search"></use>
                  </svg>
                </button>

                <p class="notification">
                  Search result not successful. Enter the correct movie name.
                </p>
              </form>
            </div>
          </div>

          <div class="logo--box">
            <a href="./" class="logo--link class="logo--icon">
              <svg class="logo__icon">
                  <use href="./images/symbol-defs.svg#icon-film"></use>
                </svg>

              <h1 class="logo__title">Filmoteka</h1>
            </a>
          </div>

          <div class="library-btn-box library-btn-hidden">
            <button
              class="btn--watched library--btn btn library-current-btn"
              type="button"
              data-status_library="watched"
            >
              watched
            </button>

            <button
              class="btn--quque library--btn btn"
              type="button"
              data-status_library="queue"
            >
              queue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
