<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<header class="section-header">
  <div
    class="container header-container library-container"
    data-slider="team-slider"
  >
    <div style="position: relative">
      <div class="swiper background__slider">
        <ul class="swiper-wrapper list">
          <li class="swiper-slide background__item">
            <img
              class="background__picture"
              srcset="
                ./images/mobile-red-popcorn@1x.webp 1x,
                ./images/mobile-red-popcorn@2x.webp 2x
              "
              media="(max-width: 767px),
             
            ./images/desk-red-popcorn@1x "
              src="./images/mobile-red-popcorn@1x.webp"
              alt="yellow-popcorn"
            />
          </li>

          <li class="swiper-slide background__item">
            <img
              class="background__picture"
              srcset="
                ./images/mobile-orange-popcorn@1x.webp 1x,
                images/mobile-orange-popcorn@2x.webp   2x
              "
              src="./images/mobile-orange-popcorn@1x.webp"
              alt="orange-popcorn"
            />
          </li>

          <li class="swiper-slide background__item">
            <img
              class="background__picture"
              srcset="
                ./images/mobile-yellow-popcorn@1x.webp 1x,
                ./images/mobile-yellow-popcorn@2x.webp 2x
              "
              src="./images/mobile-yellow-popcorn@1x.webp"
              alt="red-popcorn"
            />
          </li>
        </ul>
      </div>
      <div
        class="header"
        style="position: absolute; width: 100%; z-index: 1; top: 0"
      >
        <div class="header-wrap">
          <div class="header-desk header-desk-library">
            <nav class="header-nav header-nav-library">
              <a
                href="./index.html"
                class="btn--link btn"
                id="home-button"
                data-status_library="home"
                >Home</a
              >

              <a
                href="#"
                class="btn--link btn--current btn"
                id="library-button"
                data-status_library="library"
                >My Library</a
              >
            </nav>

            <div class="logo--box">
              <a href="./" class="logo--link">
                <svg class="logo--icon logo__icon">
                  <use href="./images/symbol-defs.svg#icon-film"></use>
                </svg>
                <h1 class="logo__title">Filmoteka</h1>
              </a>
            </div>

            <div class="library-btn-box library-btn-hidden library-btn-visual">
              <button
                class="btn--watched library--btn library-current-btn btn"
                type="button"
                data-status_library="watched"
              >
                watched
              </button>

              <button
                class="btn--quque library--btn btn"
                type="button"
                data-status_library="queue"
              >
                queue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
