<div class="mask">
    <div class="loader">
        <svg class="circle1" width="60" height="60">
            <use href="./images/icons.svg#spinner"></use>
        </svg>
        <div class="circle2">
        </div>
    </div>
</div>

<!-- ===================================================================================================== -->

<!-- <div class="loader">
    <span class="preloader">
        <svg class="circle1" width="60" height="60">
            <use href="./images/icons.svg#spinner"></use>
        </svg>
        <div class="circle2"></div>
    </span>
</div> -->