// .header__container {
//   position: relative;
// }

// .swiper.background__slider {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 1280px;
// }

// .header__wrapper {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   z-index: 1;
// }

.section-header {
  width: 100%;
  margin-top: 20px;

  @include mq(tab) {
    margin-top: 32px;
  }
}

.header-wrap {
  display: flex;
  flex-direction: column;
  height: 460px;
  padding: 14px;
  margin-bottom: 20px;
  background-image: url('../images/mobile-red-popcorn@1x.jpg');
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mq(tab) {
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 222px;
    padding: 16px;
    margin-bottom: 32px;
    background-image: linear-gradient(
        273.67deg,
        rgba(0, 0, 0, 0.49) -2.09%,
        rgba(0, 0, 0, 0) 99.83%
      ),
      url('../images/tablet-red-popcorn@1x.jpg');
  }
}

//   border-radius: 15px;
// }

//   @media screen and (min-width: 1280px) {
//     height: 316px;
//     background-image: linear-gradient(
//         273.67deg,
//         rgba(0, 0, 0, 0.49) -2.09%,
//         rgba(0, 0, 0, 0) 99.83%
//       ),
//       url('../images/bg-desktop.jpg');
//     border-radius: 15px;
//     padding: 16px 32px 32px 32px;
//   }
// }

.header-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 8px;
}
.link--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 10px 26px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.16;
  color: #000;
  background-color: #fff;
  border-radius: 100px;
}

.btn--current {
  color: #fff;
  background-color: #000;
}

.form-wrap{
  margin-right: auto;
}

.header__form {
  display: flex;
  width: 252px;
  height: 34px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 100px;
  margin-bottom: 312px;
  justify-content: center;
  @include mq(tab) {
    margin-bottom: 105px;
  }
}
input {
  border: none;
}

.header__form {
  display: flex;
  width: 252px;

  // @media screen and (min-width: 768px) {
  //   width: 336px;
  //   margin: 0 auto;
  // }

  // @media screen and (min-width: 1280px) {
  //   width: 394px;
  // }

  // &:focus-within {
  //   border-bottom: 0.5px solid var(--color-accent);
  // }
}

.header__input {
border-radius: 100px 0px 0px 100px;

  width: 100%;
  background-color: #ffffff;
  border: none;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  color: #000;
  outline: none;

  &::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400px;
    font-size: 12px;
    line-height: 1.16;
    color: #000;
    padding-top: 10px;
    padding-left: 14px;
  }
}

.header__submit-button {
  border-radius:  0px 100px 100px 0px;

  background-color: #ffffff;
  border: none;
  outline: none;

  // &:hover,
  // &:focus {
  //   color: var(--color-accent);
  // }
}

.header__text {
  display: none;
}
.logo-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 8px;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.17;
}
