

.library-btn-visual {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 16px;

  @include mq(tab) {
    margin-top: 0px;
    position: absolute;
    bottom: 170px;
    left: 71%;
  }

  @include mq(desk) {
    bottom: 265px;
    left: 83%;
  }
}

.library--btn {
  padding: 10px 23px;
}

.library-current-btn {
  color: #fff;
  background-color: #b92f2c;
}



.header-desk-library {
  @include mq(tab) {
    display: flex;
    flex-direction: row;
  }
}

// для search bar
.js-list-place {
  position: absolute;
  background-color:  #fff;
  top: 50px;
  padding: 5px;
  border-radius: 5px;
  
}

.js-list-place li {
  color: black;
  background-color: #fff;
//  margin: 10px;
  padding-bottom: 5px;
}

.js-list-place li::after {

  display: block;
  border: 1px solid #1d1c1c; /*стиль разделительной линии */
   display: inline-block; 
 
}

.search__item-list{
  padding: 7px;
  border-radius: 5px;
}

.search__item-list:hover {
  cursor: pointer;
  background-color: lightgray;
}

.search__item-genres{
  color:#b92f2c;
}

// .search__item-name {
//   text-transform: uppercase;
// }