.section-header {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
}

@include mq(tab) {
  .section-header {
    margin-top: 32px;
  }
}

.header {
  position: relative;

  height: 460px;
  padding: 14px;
  // background-image: url('../images/mobile-red-popcorn@1x.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;

  // @media (min-device-pixel-ratio: 2),
  // (-webkit-min-device-pixel-ratio: 2),
  // (min-resolution: 192dpi),
  // (min-resolution: 2dppx) {
  //   background-image: url('../images/mobile-red-popcorn@2x.webp');
  // }

  @include mq(tab) {
    height: 222px;
    padding: 16px;
    // margin-bottom: 32px;
    // background-image: linear-gradient(273.67deg,
    //     rgba(0, 0, 0, 0.49) -2.09%,
    //     rgba(0, 0, 0, 0) 99.83%),
    //   url('../images/tablet-red-popcorn@1x.webp');
    border-radius: 15px;
  }

  @include mq(desk) {
    height: 316px;
    // background-image: linear-gradient(273.67deg,
    //     rgba(0, 0, 0, 0.49) -2.09%,
    //     rgba(0, 0, 0, 0) 99.83%),
    //   url('../images/desk-red-popcorn@1x.webp');
  }
}

.background__picture {
  background-image: url(/src/images/mobile-red-popcorn@1x.webp);
}

.swiper.background__slider {
  // position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  // width: 1280px;
}

.header-wrap {
  width: 100%;
}

.header-desk {
  @include mq(tab) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
  }

  @include mq(desk) {
    gap: 8px;
  }
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-right: auto;
}

.btn {
  font-style: normal;
  font-weight: 500px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.16;
  padding: 10px 26px;
  border-radius: 100px;
  border: none;
  color: #000;
  background-color: #fff;
  border: none;

  @include mq(tab) {
    padding: 12px 24px;
  }

  @include mq(desk) {
    padding: 12px 24px;
  }

  &--current {
    color: #fff;
    background-color: #000;
  }
}

.header__form {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 8px;

  @include mq(tab) {
    margin-top: 0px;
  }
}

.header__input {
  width: 100%;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  border-radius: 100px;
  border: none;
  padding: 10px 14px;
  outline: transparent;

  &::placeholder {
    color: #000;
    font-size: 12px;
    line-height: 1.16;
  }

  @include mq(tab) {
    width: 165px;
    padding: 11px 16px;

    &::placeholder {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  @include mq(desk) {
    width: 187px;
    padding: 13px 16px;
  }
}

.header__submit-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #fff;
  padding: 0;

  &:hover .header__icon {
    scale: 1.2;
  }
}

.header__icon {
  @include mq(tab) {
    width: 16px;
    height: 16px;
  }
}

.notification {
  position: absolute;
  top: 50px;
  left: 0;
  // right: 50%;
  color: #fff;
  font-size: 10px;
  font-weight: 400px;
  line-height: 1.17;
  margin-top: 8px;
  width: 155px;

  @include mq(tab) {
    left: 15px;
  }
}

.logo--link {
  text-decoration: none;
  // display: flex;
  // align-items: center;
}

.logo--box {
  display: flex;
  // flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #ffffff;
  // font-size: 32px;
  // line-height: 1.17;
  margin-top: 312px;

  @include mq(tab) {
    justify-content: flex-start;
    margin-top: 105px;
    margin-bottom: 8px;

    @include mq(desk) {
      margin-top: 151px;
      align-items: center;
    }
  }
}

.logo__icon {
  width: 32px;
  height: 32px;
  stroke: #fff;

  @include mq(tab) {
    width: 40px;
    height: 40px;
  }

  @include mq(desk) {
    width: 59px;
    height: 59px;
  }
}

.logo__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.19;
  color: #fff;

  @include mq(tab) {
    font-size: 40px;
    line-height: 1.18;
  }

  @include mq(desk) {
    font-size: 64px;
  }
}

.library-btn-hidden {
  display: none;
}